<html>
    <head>
        <title>Mac V. Windows</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mac V. Windows</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Price</a></h2>
            <p>Macs are expensive. The base price may be low, however they sell you the rest of your computer over time.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Aesthetics</a></h2>
            <p>Macs are uniform and they have the cheapest and most available accessories. Windows OS spans across all types of manufacturers, including Dell, HP, and Lenovo.</p>
        </div>
    </body>
</html>